canvas { 
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000f;
    z-index: -1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.image {
    border-radius: 50%;
    max-height: 500px;
}

.header1 {
    font-family: righteous, cursive;
    font-size:6vw;
    color:#8B008B	;
}

.header2 {
    font-family: ubuntu mono, monospace;
    font-size: 1.4vw;
    color: #8B008B	;
}

.header3 {
    font-family: ubuntu mono, monospace;
    font-size: 2.2vw ;
    color: #8B008B	;
}

.link1 {
    font-family: ubuntu mono, monospace;
    font-size: 2.8vw;
    color: inherit;
    margin: 0 5px;
    transition: .5s;
    color: #8B008B;
}

.link1:hover {
    color:ivory;
}

@media screen and (max-width:785px){
    .header1 {
        font-size:8vw
    }
    
    .link1 {
        font-size:4vw
    }
}

@media screen and (max-width:765px){
    body {
        text-align:center
    }
    
    .header1 {
        font-size:9vw
    }
    
    .header2 {
        font-size:2.5vw
    }
    
    .link1 {
        font-size:5vw
    }
}

@media screen and (min-width:1390px){
    .header2 {
        font-size:1.2vw
    }
}